@font-face {
    font-family: 'Helvetica LT';
    src: url('../fonts/HelveticaLT-Light.woff2') format('woff2'),
    url('../fonts/HelveticaLT-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica LT';
    src: url('../fonts/HelveticaLT.woff2') format('woff2'),
    url('../fonts/HelveticaLT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica LT';
    src: url('../fonts/HelveticaLT-Bold.woff2') format('woff2'),
    url('../fonts/HelveticaLT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

